footer {
    width: 100%;
    padding: $section-padding-desktop $side-padding-desktop;

    background-color: $light-brown;
    font-family: 'Josefin sans';

    p {
        color: $blue;
        text-transform: uppercase;
        text-align: center;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;

        li {
            p {
                padding-top: 15px;
                text-transform: uppercase;
                text-align: center;
                line-height: 150%;
                font-size: 15px;
            }

            a {
                color: $blue;
                text-align: center;
                font-size: 12px;
                line-height: 150%;
                width: 100%;
                display: block;
            }
        }
    }
}