.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.hero-lines:before {
    content:" ";
    display: block;
    height: 1px;
    width: 110px;
    position: absolute;
    top: 50%;
    left: -100%;
    background: white;
    margin-top: 48px;
}

.hero-lines:after {
    content:" ";
    display: block;
    height: 1px;
    width: 110px;
    position: absolute;
    top: 50%;
    right: -100%;
    background: white;
    margin-top: 48px;
}

.hero-lines{
    font-family: 'Josefin sans';
    font-weight: $lightweight;
    position: relative;
    max-width: 500px;
    padding-top: 100px;
    margin-bottom: calc($spacer-medium-desktop - 25px);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

h1 {
    font-family: 'Josefin sans';
    font-size: 120px;
    letter-spacing: $medium-spacing;
    text-align: center;
    padding-top: 25px;
    color: white;
}

header{
    height: 100vh;
    width: 100%;
    background-image: url(../images/bb-hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    p{
        font-family: 'Josefin sans';
        font-weight: $lightweight;
        text-align: center;
        letter-spacing: $medium-spacing;
        line-height: 2em;
        margin-top: calc($spacer-medium-desktop - 25px);
        margin-bottom: 250px;
        color: white;
        font-size: 20px;
        font-weight: 400;
    }
}

.hero-lines{
    margin-top: 0;
}

@include breakpoint(0, $mobile) {

    .hero-lines:before {
        width: 100px;
        margin-top: 98px;
    }

    .hero-lines:after {
        width: 100px;
        margin-top: 98px;
    }

    .hero-lines{
        font-size: 12px;
        margin-left: 30px;
        margin-right: 30px;
        padding-top: 200px;
        margin-bottom: 25px;
    }
    
    h1 {
        font-size: 50px;
    }
    
    header > p{
            font-size: 12px;
            margin-top: 45px;
    }

    header{
        background-position: center;
    }
    
    .hero-lines{
        margin-top: 0;
    }
}

@include breakpoint(530, $mobile) {

    .hero-lines:before {
        left: -70%;
    }

    .hero-lines:after {
        right: -70%;
    }

    .hero-lines{
        margin-left: auto;
        margin-right: auto;
    }

    .hero-container p{
        font-size: 18px;
    }
}

@include breakpoint(0, 530) {

    .hero-lines:before {
        left: -85%;
    }

    .hero-lines:after {
        right: -85%;
    }

    .hero-lines{
        margin-left: auto;
        margin-right: auto;
    }

    .hero-container p{
        font-size: 14px;
    }
}