.navbar-container {
    text-align: center;
    li {
        display: inline;
        a {
            font-family: 'Josefin sans';
            font-size: 14px;
            font-weight: $lightweight;
            letter-spacing: $medium-spacing;
            text-decoration: none;
            margin: 0 25px;
            color: white;
        }
    }
}