.navbar-container {
    text-align: center;
    li {
        display: inline;
        a {
            font-family: 'Josefin sans';
            font-size: 14px;
            letter-spacing: 0.2em;
            text-decoration: none;
            margin: 0 25px;
        }
    }
}