// BREAKPOINTS
$mobile: 799;
$desktop: $mobile + 1;

// COLORS
$light-brown: #ECD8BF;
$medium-brown: #BF8F54;
$dark-brown: #352512;
$blue: #313C55;
$green: #7E8C49;

// PADDINGS
//DESKTOP
$section-padding-desktop: 80px;
$side-padding-desktop: 300px;

$spacer-large-desktop: 90px;
$spacer-medium-desktop: 90px;
$spacer-small-desktop: 30px;

//MOBILE
$section-padding-mobile: 25px;
$side-padding-mobile: 25px;

$spacer-large-mobile: 100px;
$spacer-medium-mobile: 50px;
$spacer-small-mobile: 25px;

//LETTER SPACING
$medium-spacing: 0.2em;
$large-spacing: 0.25em;

//FONT WEIGHTS
$lightweight: 300;
$mediumweight: 400;

//FONT SIZES
$h2: 45px;
$h2-mobile: 28px;
$h3: 30px;
$h3-mobile: 24px;