// BREAKPOINTS
$mobile: 799;
$desktop: $mobile + 1;

// COLORS
$light-brown: #ECD8BF;
$medium-brown: #BF8F54;
$dark-brown: #352512;
$blue: #313C55;
$green: #7E8C49;

// PADDINGS
//DESKTOP
$section-padding-desktop: 140px;
$side-padding-desktop: 70px;

$spacer-large-desktop: 90px;
$spacer-medium-desktop: 90px;
$spacer-small-desktop: 30px;

//MOBILE
$section-padding-mobile: 90px;
$side-padding-mobile: 30px;

$spacer-large-mobile: 100px;
$spacer-medium-mobile: 50px;
$spacer-small-mobile: 25px;