// BREAKPOINTS
$mobile: 799;
$desktop: $mobile + 1;

// COLORS
$background-brown: #D9B07E80;
$light-brown: #E2C49F;
$medium-brown: #BF8F54;
$dark-brown: #352512;
$blue: #313C55;
$hoverBlue: #1d2537;
$green: #7E8C49;

// PADDINGS
//DESKTOP
$section-padding-desktop: 80px;
$side-padding-desktop: 150px;

$spacer-large-desktop: 90px;
$spacer-medium-desktop: 60px;
$spacer-small-desktop: 30px;

//MOBILE
$section-padding-mobile: 25px;
$side-padding-mobile: 25px;

$spacer-large-mobile: 100px;
$spacer-medium-mobile: 50px;
$spacer-small-mobile: 25px;

//LETTER SPACING
$medium-spacing: 0.2em;
$large-spacing: 0.25em;

//FONT WEIGHTS
$lightweight: 300;
$mediumweight: 400;

//FONT SIZES
$h2: 45px;
$h2-mobile: 28px;
$body-text: 20px;
$body-medium: 22px;
$body-large: 30px;
$body-largest: 40px;
$h3: 32px;
$h3-mobile: 24px;